html, body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'Itim', cursive;
}
.WO2{
padding-left: 590px;
}
.display {
  display: flex;
  justify-content: space-around;
  border-top: 10px solid black;
  border-bottom: 5px solid black;
  padding: 45px
}

.heading {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid #0d0c0c;
  background-color: #b1d9ab;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.display-image img {
  display: block;
  height: 100px;
  width: auto;
  
}

.display-song p {
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}

.display-artist p {
  font-size: 18px;
  height: 100px;
  
}


.display-link a {
  display: block;
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
}

input {
  padding: 5px 10px;
  font-size: 14px;
  color: black;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  color: black;
  font-family: 'Itim', cursive;
}

body {
  background-color: #d8c7e6;
  color: black;
  font-family: 'Itim', cursive;

}

h4{
  color: white;
}